KINOPOISK_API_KEY=your_kinopoisk_api_key_here
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here

DB_PASSWORD=your_database_password_here
DB_USER=your_database_user_here
DB_NAME=your_database_name_here
DB_HOST=your_database_host_here
DB_PORT=your_database_port_here
DEBUG=True

SECRET_KEY=your_secret_key_here
