{% extends "layout.html" %}
{% load static %}

{% block title %}
    CineValue
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'CineValue/style.css' %}">
{% endblock %}

{% block content %}

{% for wl in watchlist %}
    <div>
        <h3>{{ wl.movie.title }}</h3>
        <p>Added: {{ wl.added_at|date:"d.m.Y" }}</p>

        <form method="post" action="{% url 'remove_watchlist_movie' id=wl.movie.id %}">
          {% csrf_token %}
          <button type="submit">Remove</button>
        </form>
    </div>
{% endfor %}


   
{% endblock %}